extends ../layout/main-layout.pug

block content
  .container.mt-5
    .row
      .col-lg-6.col-sm-12
        div.alert.alert-dark
            | Kullanıcı Bilgileri
       
        h1 Ad-Soyad: #{user.name}
        h1 Mail: #{user.email}
      .col-lg-6.col-sm-12
        div.alert.alert-success
            | Onaylanan Rezervasyonlar
        hr

        if confirmedReservations.length > 0
          table.table.table-bordered
            thead
              tr
                th(style="width:100px;") Ad-Soyad
                th(style="width:100px;") Tarih
                th(style="width:100px;") Saat
                th(style="width:100px;") Kişi Sayısı

            tbody
              each reservation in confirmedReservations
                tr
                  td #{reservation.name}
                  td #{reservation.date}
                  td #{reservation.time}
                  td #{reservation.person}
        else
          p Hiç onaylanmış rezervasyon bulunamadı.
